.App {
  display: flex;
  justify-content: space-between;
  background-color: #24252a;
  color: white;
  align-items: center;
}
.Mid_Links>div{
  width: 340px;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
}

.App >button{
  margin-right: 80px;
  letter-spacing: 1px;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
  background-color: #0088a9;
  color: white;
  border: none;
  cursor: pointer;
}
.App h1{
  margin-left: 80px;
}
